:root {
  /*Primary*/
  --orange: hsl(26, 100%, 55%);
  --paleOrange: hsl(25, 100%, 94%);

  /* Neutral */
  --veryDarkBlue: hsl(220, 13%, 13%);
  --darkgrayishBlue: hsl(219, 9%, 45%);
  --grayishBlue: hsl(220, 14%, 75%);
  --lightGrayishBlue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --overlayBlack: hsl(0, 0%, 0%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0 auto;
  height: 110vh;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.6rem;
  background-color: var(--white);
}

/***********************************/
/* NAVBAR */
/***********************************/

.navbar {
  position: relative;
  max-width: 144rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 2rem 0 3rem 0;
  border-bottom: 1px solid var(--grayishBlue);
}

.nav-links_wrapper {
  display: flex;
  gap: 4rem;
  margin: 0 auto 0 6rem;
}

.nav-link,
.nav-link:visited {
  text-decoration: none;
  color: var(--darkgrayishBlue);
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover,
.nav-link:active {
  color: var(--veryDarkBlue);
}

/* Create a transparent border, then override it with a colored one on hover, otherwise it draws a border on hover (and shifts the links) */

.nav-link::after,
.nav-link:hover::after {
  content: '';
  display: block;
  position: relative;
  top: 4.4rem;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover::after {
  border: 2px solid var(--orange);
}

.active {
  border: 2px solid var(--orange);
}

.cart-profile_wrapper {
  display: flex;
  align-items: center;
  gap: 3rem;
}

#cart-icon {
  cursor: pointer;
  position: relative;
}

#cart-icon:hover,
#cart-icon:active {
  opacity: 0.8;
}

/* Cart dropdown */
#cart-dropdown_wrapper {
  position: absolute;
  height: 23rem;
  width: 35rem;
  padding: 2rem;
  top: 110%;
  transform: translateX(-50%);
  border-radius: 10px;
  box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  gap: 2rem;

  transition: opacity 0.25s;
}

.cart-title {
  font-weight: 700;
  border-bottom: 1px solid var(--grayishBlue);
  padding-bottom: 2rem;
}

.item-in-cart {
  color: var(--darkGrayishBlue);
  display: flex;
  gap: 2rem;
  align-items: center;
}

.cart-icon_wrapper {
  position: relative;
}

.items-in-cart-count {
  z-index: 999;
  position: absolute;
  top: -0.8rem;
  right: -1rem;
  color: var(--white);
  background-color: var(--orange);
  font-size: 1rem;
  font-weight: 700;
  padding: 1px 8px;
  border-radius: 3rem;
}

#cart-img {
  height: 60px;
}

.cart-price-title-box {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
}

.btn-checkout {
  height: 5rem;
  width: 100%;
  align-self: center;
  border: none;
  cursor: pointer;
  background-color: var(--orange);
  color: var(--white);
  font-weight: 700;
  border-radius: 5px;
  transition: all ease-in-out 0.25s;
}

.empty-cart-msg {
  font-weight: 700;
  color: var(--darkgrayishBlue);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 500%);
}

.btn-checkout:active,
.btn-checkout:hover {
  opacity: 0.8;
}

#trash-icon {
  cursor: pointer;
}
#trash-icon:hover,
#trash-icon:active {
  opacity: 0.8;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  cursor: default;
}

#customer-avatar {
  height: 50px;
  width: auto;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

#customer-avatar:hover,
#customer-avatar:active {
  cursor: pointer;
  border: 2px solid var(--orange);
  border-radius: 50%;
}

/***********************************/
/* PRODUCT PAGE */
/***********************************/

/* Light box */

.product-page_wrapper {
  max-width: 144rem;
  margin: 0 auto;
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 12rem;
}

.light-box_wrapper {
  display: flex;
  flex-direction: column;
  padding: 10rem 0 10rem 10rem;
  gap: 3rem;
}

.big-product-img {
  width: 100%;
  border-radius: 14px;
  cursor: pointer;
}

.light-box-thumbnail_container {
  display: flex;
  justify-content: space-between;
}
.product-img-thumb {
  position: relative;
  width: 120px;
  border-radius: 14px;
  border: 2px solid transparent;
}

/* Add border and opacity with JS */
.active-img-thumb {
  border: 2px solid var(--orange);
  opacity: 0.8;
}

.product-img-thumb:hover,
.product-img-thumb:active {
  opacity: 0.6;
  cursor: pointer;
}

/* Product description */
.product-description_wrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-right: 12rem;
}

.product-title_wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.product-brand-text {
  color: var(--orange);
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
}

h1 {
  font-size: 5rem;
  letter-spacing: 0.6px;
}

.product-description-text {
  color: var(--darkgrayishBlue);
  line-height: 2.6rem;
  letter-spacing: 0.1px;
  font-size: 1.8rem;
}

.product-price {
  font-size: 3rem;
  position: relative;
  margin-bottom: 2rem;
}

.product-price::after {
  position: absolute;
  content: '50%';
  background-color: var(--paleOrange);
  padding: 0.4rem 1rem;
  color: var(--orange);
  font-size: 1.6rem;
  border-radius: 5px;
  /* Center the discount block */
  right: 68%;
  top: 50%;
  transform: translateY(-50%);
}

.product-price::before {
  position: absolute;
  content: '$250.00';
  padding: 0.4rem 1rem 0.4rem 0;
  color: var(--grayishBlue);
  font-size: 1.6rem;
  text-decoration: line-through;
  top: 100%;
}

.quantity-adc-btn_wrapper {
  display: flex;
  gap: 2rem;
}

.product-choose-quantity {
  background-color: var(--lightGrayishBlue);
  font-weight: 700;
  font-size: 1.8rem;
  padding: 1.4rem 2rem;
  display: flex;
  gap: 5rem;
  align-items: center;
  border-radius: 5px;
}

.quantity-select-btn {
  display: block;
  padding: 0.5rem 1rem;
}

.quantity-select-btn:hover {
  cursor: pointer;
  opacity: 0.6;
}

.btn-adc {
  position: relative;
  width: 55%;
  height: auto;
  border: none;
  cursor: pointer;
  background-color: var(--orange);
  color: var(--white);
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0px 12px 40px -8px var(--orange);
  transition: all ease-in-out 0.25s;
}

.btn-adc::before {
  content: url('images/icon-cart.svg');
  position: absolute;
  filter: invert(100%) sepia(13%) saturate(7500%) hue-rotate(196deg)
    brightness(115%) contrast(113%);
  right: 68%;
  top: 50%;
  transform: translateY(-50%);
}

.btn-adc:hover {
  opacity: 0.6;
}

.btn-adc:hover,
.btn-adc:active {
  opacity: 0.6;
}

/***********************************/
/* MEDIA QUERRIES */
/***********************************/
@media (max-width: 700px) {
}
